[submodule "polymer"]
	path = polymer
	url = git@github.com:Polymer/polymer.git
[submodule "bespoke.js"]
	path = bespoke.js
	url = git@github.com:markdalgleish/bespoke.js.git
[submodule "x-markdown"]
	path = x-markdown
	url = git@github.com:ryanseddon/markdown-component.git
